
    <div class="container diplay-view call-header">
        <div class="my-row">
            <div class="col-lg-12 meeting-info"
                style="flex-grow: 1;">
                <div class="back-icon header-icon">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <span>Meeting</span>
                <span class="time-on-call">{{this.hours == 0 ? '00': this.hours}}:{{this.minutes == 0 ? '00': this.minutes}}: {{this.second}}</span>
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <div class="flip header-icon">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </div>
                <div class="speaker header-icon">
                    <i class="fa fa-volume-up" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-lg-12 members"
                style="flex-grow: 8;">
                <div class="users"
                    [ngClass]="{'my-users-class': stream.remoteUsers.length == 1,
                        'my-users-class2':stream.remoteUsers.length == 2
                          }">
                    <div class="local-user" >
                        <img src="assets/pexels-cottonbro-3205403.jpg" alt="" class="fill-img" *ngIf="!stream.rtc.videoStatus" >
                       <div id="local-player" class="player" [ngClass]="{'enableDisable': !stream.rtc.videoStatus}">
                       >
                       </div>
                        <p>{{stream.rtc.name}} {{stream.rtc.uid}}</p>
                        <!-- <div class="screen" *ngIf="this.stream.isScreenShared == true" id="screens"> -->
                    </div>
                    <div class="other-users"
                        [ngClass]="{'my-class': stream.remoteUsers.length == 1,
                        'my-class2':stream.remoteUsers.length == 2}">
                          <!--  -->
                        <div class="other-user"
                        *ngFor="let i of stream.remoteUsers">
                                <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium image video-align">
                    <img src="assets/pexels-thisisengineering-3861964.jpg" alt="" class="fill-img" *ngIf="false">

                                </div>
                            <p>{{i.name}}{{i.uid}}</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="my-video">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div> -->
            </div>
            <div class="col-lg-12 footer"
                style="flex-grow: 8;">
                <div class="hang-up footer-icon"
                    style="background-color: red;
                        color: white" (click)="end()">
                    <i class="fa fa-phone"
                     aria-hidden="true" style="transform: rotate(135deg);"></i>
                </div>
                <div class="video-status footer-icon"
                    style="background-color: white;
                        color: #838383" (click)="stream.videoUpdate()">
                    <i class="fa fa-video-camera" aria-hidden="true" *ngIf="stream.rtc.videoStatus" ></i>
                    <img src="assets/video-slash-solid.svg" alt="" *ngIf="!stream.rtc.videoStatus">
                </div>
                <div class="mic-status footer-icon"
                    style="background-color: white;
                        color: #838383" (click)="stream.audioUpdate()">
                    <i class="fa fa-microphone" aria-hidden="true" *ngIf="stream.rtc.audioStatus" ></i>
                    <i class="fa fa-microphone-slash" aria-hidden="true" *ngIf="!stream.rtc.audioStatus"></i>

                </div>
                <div class="options footer-icon"
                    style="background-color: white;
                    background: #555555;
                    color: #fff;">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
  <!-- <div>
  <select name="" id="" [(ngModel)]="selectedValue" (change)="switchAudio()">
    <option value="">audio</option>
    <option *ngFor="let obj of externalaudiodevices" [ngValue]="obj">{{obj.label}}</option>
  </select>
  
  <select name="" id="" [(ngModel)]="selectedValue" (change)="switchVideo()">
    <option value="">video</option>

    <option *ngFor="let obj of externalvideodevices" [ngValue]="obj">{{obj.label}}</option>
  </select>
</div>
<div>
  <button (click)="channelMsg()">Send message in channel</button>
  <button (click)="peertopeer()">Send One to One message</button>
</div> -->