<div class="container diplay-view body">
  <div class="my-row">
    <div class="col-lg-12 meeting-info">
      <div class="brand">
        <h1>Video Conf.</h1>
      </div>
      <div class="back-icon header-icon">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </div>
      <div class="flip header-icon">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
      </div>
      <div class="speaker header-icon">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-lg-12 members">
      <div>
        <h4 class="meeting-name">Meeting-name</h4>
        <div class="my-video">
          <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
          <video
            #streamVideo
            class="h-100 mh-100 mw-100 w-100 screen-play"
            style="
              object-fit: cover;
              -webkit-transform: scaleX(-1);
              transform: scaleX(-1);
            "
            id="streamVideo"
            [ngStyle]="{ display: isVideoStreaming ? 'block' : 'none' }"
          ></video>
        </div>
      </div>
      <div class="footer">
        <span>Joining as {{stream.rtc.uid}}</span>
        <p>remoteIds {{message.remoteIds | json}}</p>
        <p>
          <i class="fa fa-user" aria-hidden="true"></i>
          <input
            class="username"
            type="text"
            placeholder="Enter name"
            [(ngModel)]="stream.rtc.name"
          />
        </p>
        <div class="controls">
          <div
            class="video-status controls-icon"
            style="background-color: white; color: #838383"
          >
            <i
              class="fa fa-video"
              aria-hidden="true"
              *ngIf="toggleCamera"
              (click)="setVideo()"
            ></i>
            <i class="fas fa-video-slash" aria-hidden="true" *ngIf="!toggleCamera" (click)="setVideo()"></i>
            <!-- <img
              src="../../assets/video-slash-solid.svg"
              alt=""
              *ngIf="!toggleCamera"
              (click)="setVideo()"
              style="
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                font-size: 25px;
                border: 1px solid #838383;
                border-radius: 50px;
              "
            /> -->
          </div>
          <div
            class="mic-status controls-icon"
            style="background-color: white; color: #838383"
          >
            <i
              class="fa fa-microphone"
              aria-hidden="true"
              *ngIf="toggleAudio"
              (click)="setAudio()"
            ></i>
            <i
              class="fa fa-microphone-slash"
              aria-hidden="true"
              *ngIf="!toggleAudio"
              (click)="setAudio()"
            ></i>
          </div>
          <button type="button" (click)="startCall()">Join Meeting</button>
        </div>
      </div>
    </div>
  </div>
</div>
